
h1 {
  color:blue;
  font-family:verdana;
  font-size:300%;
}

p  {
  color:red;
  font-family:courier;
  font-size:160%;
}

body {
  background-color:lightgray;
}

#disappear {
  color: purple;
  font-family:courier;
  font-size:100%;
}


/*
this is basically the window we look through
to see the slides
*/
#slideshow #slideshowWindow {
	width:500px;
	height:257px;
	margin:0;
	padding:0;
	position:relative;

  /*hidden overflow is important
  i guess anything over flows gets hidden
  */
	overflow:hidden;
  /*remove this to see how things actually move*/
}

/*
holds only 1 slide and
content associated with that slide i.e.
title, description, link
*/
#slideshow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:500px;
	height:257px;
	float:left;
	position:relative;
}
